/* Custom Project wide defaults will go here  */
html, body {
  font-family: Verdana, sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #000;
}

a, a:visited {
  color: #FF640A;
  text-decoration: none;
}

a:hover, a:active {
  color: #FF8C0A;
}

header {
  margin-top: 15px;
  background-color: #f3ffff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  box-shadow: 0 0 2px 2px #accccc;
}

header a, header ul, header li {
  display: inline;
}

#formlegend_logo {
  display: inline-block;
  width: 300px;
  text-align: center;
}

#authentication_links {
  display: inline-block;
  text-align: center;
  margin-top: 35px;
}

#authentication_links ul {
  margin: 0;
  padding-left: 0;
}

.content {
  min-height: 500px;
  background-color: #f3ffff;
  margin-top: 25px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  box-shadow: 0 0 2px 2px #accccc;
}

.content h2 {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #333;
}

footer {
  margin-top: 25px;
  padding: 17px;
  background-color: #f3ffff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  box-shadow: 0 0 2px 2px #accccc;
  text-align: center;
}

.push {
  height: 15px;
}

form {
  width: 250px;
  display: block;
  margin: 25px auto;
  padding: 1px;
  border: 1px solid #333;
  border-radius: 10px;
}

.formElementGroup {
  display: block;
  padding: 15px;
}

.formElementGroup input {
  display: block;
  width: 215px;
}

.formElementGroup label {
  display: inline;
}

.formElementGroup input[type='checkbox'] {
  display: inline;
  width: auto;
}

.formElementGroup select {
  display: block;
}

.formElementGroup img {
  display: block;
}

.errors, .errorlist {
  color: #F20056;
  display: block;
  margin: 7px 0 7px 0;
  padding: 0;
}

.errors li, .errorlist li {
  list-style-type: none;
}

.hiddenFormElementGroup {
  display: none;
}

#formLegendForm {
  width: 350px;
}

.formLegendField {
  width: 316px;
  margin: 15px;
  padding: 1px;
  border: 1px solid #333;
  border-radius: 10px;
}

.help_text {
  display: block;
  color: #008000;
  margin: 10px 0 10px 0;
}

.formButton {
  margin: 0 0 25px 15px;
  padding: 2px;
  height: 40px;
  width: 221px;
}

.formLegendFormButton {
  margin: 0 0 25px 63px;
  padding: 2px;
  height: 40px;
  width: 221px;
}

.addFieldButton {
  width: 200px;
  margin: 20px 0 20px 73px;
}

.deleteFieldButton {
  width: 200px;
  margin: 17px 0 25px 56px;
}

.firstButton {
  margin-top: 25px;
}

.fl_objs {
  padding: 0;
}

.fl_objs li {
  border: 1px solid #333;
  border-radius: 10px;
  margin: 20px 0 20px 0;
  padding: 10px;
  list-style-type: none;
}

.fl_obj_header {
  font-weight: bold;
  border-bottom: 1px solid #333;
  margin-bottom: 15px;
}

.fl_obj_management {
  float: right;
}

.fl_obj_header, .fl_obj_detail {
  display: block;
}

.container .columns.pageSplit {
  min-height: 135px;
  margin-right: 0;
}

.pageSplit {
  padding-right: 30px;
  border-right: 1px solid #333;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .pageSplit {
    padding-right: 24px;
    border-right: 1px solid #333;
  }
}

@media only screen and (max-width: 767px) {
  .pageSplit {
    padding-right: 0;
    padding-bottom: 10px;
    border-right: 0;
    border-bottom: 1px solid #333;
  }
}
code {
  background: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 10px;
  padding: 2px;
}
pre {
  background: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 10px;
  padding: 5px;
}