{% extends "base.html" %}

{% block title %}Edit Existing FormLegend Form{% endblock title %}

{% block content %}
<div class="row">
  <h2>Edit Existing FormLegend Form</h2>
</div>

<div class="row">
  <div class="offset-by-half fifteen columns">
    {% if form.non_field_errors %}
    <p class="errors">Please correct the following errors:</p>
    {% for error in form.non_field_errors %}
    <span class="errors">A {{ error }}</span>
    {% endfor %}
    {% endif %}
    <form id="formLegendForm" method="post" action=".">
      {% csrf_token %}
      {% for field in form.visible_fields %}
      <div class="formElementGroup">
        <label>{{ field.label|title }}</label>
        {% if field.errors %}
        <span class="errors">{{ field.errors }}</span>
        {% endif %}
        {{ field|safe }}
      </div>
      {% endfor %}
      {% for field in form.hidden_fields %}
        <div class="hiddenFormElementGroup">
          <label>{{ field.label|title }}</label>
          {% if field.errors %}
          <span class="errors">{{ field.errors }}</span>
          {% endif %}
          {{ field|safe }}
        </div>
      {% endfor %}
      {{ formLegendFormFormset.management_form }}
        {% for formLegendField in formLegendFormFormset %}
        <div class="formLegendField">
          {{ formLegendField.id }}
          {% for field in formLegendField.visible_fields %}
          {% if field.label == 'Delete' %}
          <div class="formElementGroup hideMe">
          {% else %}
          <div class="formElementGroup">
          {% endif %}
            <label>{{ field.label|title }}</label>
            {% if field.errors %}
            <span class="errors">{{ field.errors }}</span>
            {% endif %}
            {% if field.help_text %}
            <span class="help_text">{{ field.help_text }}</span>
            {% endif %}
            {{ field|safe }}
          </div>
          {% endfor %}
        </div>
        {% endfor %}
        <input class="addFieldButton" onclick="addFieldClicked()" type="button" value="Add A Field" />
        <input class="formLegendFormButton firstButton" onclick="submitClicked();" type="submit" value="Update Form" />
        <a href="{% url dashboard %}"><input class="formLegendFormButton" type="button" value="Cancel" /></a>
    </form>
  </div>
</div>
{% endblock content %}

{% block custom_js %}
<script type="text/javascript" src="{{ STATIC_URL }}javascripts/addEditFLForm.js"></script>
{% endblock custom_js %}