{% extends "base.html" %}
{% block title %}Home{% endblock title %}

{% block content %}
<div class="row">
  <h2>Welcome!</h2>
</div>
<div class="row">
  <div class="offset-by-half seven columns">
    <p>FormLegend allows anyone that has control of the markup of their website to integrate forms effortlessly.</p>
    <p>Placing a FormLegend form on your website is as easy as...</p>
    <ul>
      {% if not user.is_authenticated %}
      <li><a href="{% url registration_register %}">Register a new account</a></li>
      <li><a href="{% url auth_login %}">Login to your acount</a></li>
      {% endif %}
      {% if user.is_authenticated %}
      <li>Going to your <a href="{% url dashboard %}">dashboard</a></li>
      {% endif %}
      <li>Click the "Add A Website" link</li>
      <li>Complete the form to register a websie with FormLegend</li>
      <li>Click the "Add A Form" link</li>
      <li>Complete the form to register a form with FormLegend</li>
      <li>Click the "Install" link</li>
      <li>Place the markup given on your webpage!</li>
    </ul>
  </div>
  <div class="offset-by-one five columns">
    <p>Take a look at this live example.</p>
    <a href="//edhedges.com/contact/"><img src="http://placekitten.com/g/275/300" alt="placekitten"></a>
  </div>
</div>
{% endblock content %}