{% extends "base.html" %}

{% block title %}Install Existing FormLegend Form{% endblock title %}

{% block content %}
<div class="row">
  <h2>Install Existing FormLegend Form</h2>
</div>

<div class="row">
  <div class="offset-by-one fourteen columns">
    <h4>Install {{ object.form_name }}</h4>
    <p>Installing your {{ object.form_name }} is as easy as placing the following markup where you would like your form to render on its corresponding url: <code>{{ object.form_url }}</code>.</p>
    <p>Any modifications to the markup could cause errors in the rendering and/or functionality of the form.</p>
    <pre>{{ fl_form_info.form_script }}</pre>
  </div>
</div>
{% endblock content %}