{% extends "base.html" %}

{% block title %}View Existing FormLegend Form{% endblock title %}

{% block content %}
<div class="row">
  <h2>View Existing FormLegend Form</h2>
</div>

<div class="row">
<!--<h4>{{ object.form_name }}</h4>
{% for field in form_fields %}
  <div>{{ field.field_label }} {{ field.field_type }} {{ field.field_is_hidden }} {{ field.field_is_required }} {{ field.field_has_choices }} {{ field.field_choices }} {{ field.field_initial_value }} {{ field.field_help_text }}</div>
{% endfor %}-->
</div>
{% endblock content %}