{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
  <h2>Login</h2>
</div>

<div class="row">
  {% if form.non_field_errors %}
  <div class="offset-by-one seven columns">
    <p class="errors">Please correct the following errors:</p>
    <span class="errors">{{ form.non_field_errors }}</span>
  </div>
  {% endif %}
  <!--THE NEXT SHOULD BE THEIR PROFILE -->
  <div class="nine columns">
    <form method="post" action="?next={{ next|default:"/dashboard/" }}">
      {% csrf_token %}
      {% for field in form.visible_fields %}
          <div class="formElementGroup">
            <label>{{ field.label|title }}</label>
            {% if field.errors %}
            <span class="errors">{{ field.errors }}</span>
            {% endif %}
            {{ field|safe }}
          </div>
      {% endfor %}
      <input class="formButton" type="submit" value="Login" />
      <a href="{% url auth_password_reset %}" class="forgotPasswordLink">Forgot Password?</a>
    </form>
  </div>
  <div class="six columns">
    <h4>Form Information</h4>
    <p>If you have registered an account with us then just provide your username and password to login and begin making forms!</p>
    <p>If you do not have an account, you can <a href="{% url registration_register %}">register here</a>.</p>
  </div>
</div>
{% endblock %}
