{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
{% if validlink %}
<div class="row">
  <h2>Enter New Password</h2>
</div>
<div class="row">
  <div class="offset-by-half fifteen columns">
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    <form action="." method="post">
      {% csrf_token %}
      {% for field in form.visible_fields %}
          <div class="formElementGroup">
            <label>{{ field.label|title }}</label>
            {% if field.errors %}
            <span class="errors">{{ field.errors }}</span>
            {% endif %}
            {{ field|safe }}
          </div>
      {% endfor %}
      <input class="formButton" type="submit" value="Change my password" />
    </form>
  </div>
</div>

{% else %}
<div class="row">
  <h2>Password Reset Unsuccessful</h2>
</div>

<div class="row">
  <div class="offset-by-half fifteen columns">
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
  </div>
</div>
{% endif %}
{% endblock %}
