{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="row">
  <h2>Register</h2>
</div>
<div class="row">
  <div class="nine columns">
    <form method="post" action="." class="wide">
      {% if form.non_field_errors %}
      <p class="errors">Please correct the following errors:</p>
      <span class="errors">{{ form.non_field_errors }}</span>
      {% endif %}
      {% csrf_token %}
      {% for field in form.visible_fields %}
        <div class="formElementGroup">
          {{ field.label|title }}
          {% if field.errors %}
          <span class="errors">{{ field.errors }}</span>
          {% endif %}
          {{ field|safe }}
        </div>
      {% endfor %}
      <button class="formButton" type="submit" name="sign_up_button" id="sign_up_button">Sign Up</button>
    </form>
    <div class="clear"></div>
  </div>
  <div class="six columns">
    <h4>Form Information</h4>
    <p>This form (all fields are required) will create you an account and an email will be sent to you with instructions on how to finish registering.
    <p>We'll only use your email to send you registration instructions. We hate spam much as you do.</p>
  </div>
</div>
{% endblock %}
